@import "src/styles/variables";

.headerContainer {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: {
        color: $colorBlack;
        width: 3px;
        style: solid;
    };
    background-color: yellow;

    .content {
        width: 100%;
        height: 50px;
        max-width: 1800px;
        padding: 0 20px;

        .leftContent {
            width: 35%;
            height: 100%;
        }
      
        .rightContent {
            width: 60%;
            height: 100%;
            justify-content: end;
    
          .linksWr {
            width: 100%;
            max-width: 200px;
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
          }
        }
    }
}