@import "src/styles/variables";

.postsList {
  height: 100%;
  padding: 20px;
  color: $colorWhite;
  
  .post {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: #cccaca;
    }
  };
};