@import "src/styles/variables";

@mixin inactive {
  background: $colorBlack;
  color: $colorBlack;
}

.linkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  outline: none;
  color: $colorWhite;
}

.primary {
  width: auto;
  height: 40px;
  padding: 0 20px;
  background: $colorBlack;
  border: 1px solid $colorWhite;
  font-size: 18px;

  &:hover {
    background: $colorWhite;
    border: 1px solid $colorBlack;
    color: $colorBlack;
  }
}

.secondary {
  width: auto;
  height: 40px;
  padding: 0 20px;
  background: $colorLightGray;
  border: 1px solid $colorBlack;
  color: $colorBlack;
  font-size: 18px;

  &:hover {
    background: $colorBeige;
    border: 1px solid $colorWhite;
    color: $colorLightGray;
  }
}

.inactive {
  @include inactive;
  cursor: default;

  &:hover {
    @include inactive;
  }
}