@import '/src//styles/variables';

@mixin link {
    justify-self: center;
    cursor: pointer;
    border: 2px solid purple;
}

.linkWr {
    .linkName {
        // @include link;
        color: $colorBlack;
        align-self: center;
    }
    
    .linkNameHighlighted {
        // @include link;
        color: red;
        align-self: center;
    }
}


