@import "src/styles/variables";

.postWr {
    width: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100vh;
    grid-template-areas: "postsList singlePost";
    color: $colorWhite;

    .postsList {
        grid-area: postsList;
        border-right: 1px solid black;
        width: 100%;
        padding: 0 5px;

        .buttonWr {
            padding: 4px;
        }
    }

    .singlePost {
        grid-area: singlePost;
        text-align: justify;
    }
}