@import "src/styles/variables";

.productsWr {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
  padding: 42px;

  .productWr {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 10px;

    height: 500px;
    width: 300px;

    &:hover {
      border-radius: 10px;
      //border: 2px solid $colorWhite;

      .product {

        .buttonWr {
          background: rgba(0,0,0,0.8);

          .productName {

            display: block;
          }
          .button {
            display: flex;

          }
        }
      }
    }

    .product {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      //height: 500px;
      //width: 300px;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
      background-origin: border-box;
      background-color: $colorWhite;
      margin: 24px;
      border-radius: 10px;

      .buttonWr {
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0 50px;

        .productName {
          display: none;
          text-align: center;
          font: {
            size: 32px;
            weight: bold;
          }
          color: $colorWhite;
        }

        .button {
          display: none;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 50px;
          border: 1px solid $colorWhite;
          background: $colorBlack;
          border-radius: 10px;
          margin: 12px 0;
          font: {
            weight: 700;
          }
          color: #cccaca;
          cursor: pointer;
        }
      }
    }
  }
}