@import "src/styles/variables";

.footerContainer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-top: {
      color: $colorBlack;
      width: 3px;
      style: solid;
  };

  .content {
    width: 100%;
    height: 70px;
    max-width: 1800px;

    .wrapper {
      height: 100%;
      padding: 0 20px;
  
      .linksWr {
        width: 100%;
        max-width: 500px;
      }
    }
  
    .authorInfo {
      text-align: end;
      font-size: 10px;
      background-color: $colorBlack;
      color: $colorWhite;
    }

  }
 
}