@import "src/styles/variables";


.mainWr {
  padding: 50px;

  .formHeader {
    margin: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid $colorBlack;
  }

  .contentWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;

    .quillWr {
      grid-column: 1/ span 2;

      p {
        margin-bottom: 10px;
      }
    }

    .imgWr {
      grid-column: 1/ span 2;
    }

    .imgBlock {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $colorBlack;
    }
  }

  .buttonWr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
